<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Univers de Nico{% endblock %}</title>
    <link rel="icon" href="{{ asset('images/nico-symbol.svg') }}">
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
    {% endblock %}
    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
</head>

<body>
    <nav class="navbar-galactic">
        <div class="navbar-container">
            <a href="{{ path('app_home') }}" class="logo gradient" >
                <img src="{{ asset('images/nico-symbol.svg') }}"  class= "logo-sm" alt="">
            </a>
            <ul class="navbar-links">
                <li><a href="{{ path('app_home') }}">Accueil</a></li>
                <li><a href="{{ path('app_projects') }}">Projets</a></li>
                <li><a href="#">Compétences</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
    </nav>

    <main>
        {% block body %}
            <canvas id="stars"></canvas>
        {% endblock %}
    </main>
    <script src="{{ asset('controllers/animation_controller.js') }}" type="module"></script>
    <script>
        // === NAVBAR HIDE / SHOW + SHADOW GLOW ===
        let lastScroll = 0;
        const navbar = document.querySelector('.navbar-galactic');

        window.addEventListener('scroll', () => {
            const currentScroll = window.pageYOffset;

            if (currentScroll <= 0) {
                navbar.classList.remove('scroll-up');
                navbar.classList.remove('hidden');
                return;
            }

            if (currentScroll > lastScroll && !navbar.classList.contains('hidden')) {
                // Scroll down → cache la navbar
                navbar.classList.add('hidden');
                navbar.classList.remove('scroll-up');
            } else if (currentScroll < lastScroll && navbar.classList.contains('hidden')) {
                // Scroll up → affiche la navbar
                navbar.classList.remove('hidden');
                navbar.classList.add('scroll-up');
            }
            lastScroll = currentScroll;
        });
    </script>
</body>
</html>
